.hero-section {
    background: url(../../../public/img/herobg.svg);
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overlay {
    height: 100%;
    background: #00000059;
    /* color: #ffffffe2; */
}
