.hero-section {
    background: url(../../../public/img/hero-bg.jpg);
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}